
body{
    margin: 0;
    padding: 0;
    background: url(../images/12.jpg);
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}

  .carousel {
      background: #2f4357;
      margin-top: 20px;

  }

  .carousel-item {
      text-align: center;
      min-height: 280px;
      /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
