<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/third.css') }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<style>
  .carousel {
      background: #2f4357;
      margin-top: 20px;

  }

  .carousel-item {
      text-align: center;
      min-height: 280px;
      /* Prevent carousel from being distorted if for some reason image doesn't load */
  }
</style>
</head>
<body>
<title>Home</title>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div style=" margin:4%; opacity:100%">
    <a href="hotelbook.html">Hotel Bookings</a>
  </div>
  <div style="margin:4%;">
    <a href="wishlist.html">Wishlist</a>
  </div>
  <div style=" margin:4%;">
    <a href="notification.html">Notifications</a>
  </div>
  <div style=" margin:4%;">
    <a href="home.html">Home</a>
  </div>
</div>
<div class="navbar">
<span style="font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776;</span>
</div>

<!-- sliders -->
  <div class="container-lg my-4" >
      <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
              <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='images/slide1.png') }}" alt="First Slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Slide 1</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/slide2.png') }}" alt="Second Slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Slide 2</p>
                  </div>
              </div>
              <div class="carousel-item">
                  <img src="{{ url_for('static', filename='images/slide3.png') }}" alt="Third Slide">
                  <div class="carousel-caption d-none d-md-block">
                      <h5>Slide 3</h5>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                  </div>
              </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
              <span class="carousel-control-next-icon"></span>
          </a>
      </div>
  </div>
  
  
  <!-- Multiple image -->
  <div class="container my-4">
      <hr class="my-4">
  
      <!--Carousel Wrapper-->
      <div id="multi-item-example" class="slide" data-ride="carousel">
  
        <!--Controls-->
        <div class="controls-top">
          <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
          <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
        </div>
        <!--/.Controls-->
  
  
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
  
          <!--First slide-->
          <div class="carousel-item active">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(18).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--/.First slide-->
  
          <!--Second slide-->
          <div class="carousel-item">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--/.Second slide-->
  
          <!--Third slide-->
          <div class="carousel-item">
  
            <div class="row">
              <div class="col-md-4">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(53).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(45).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
  
              <div class="col-md-4 clearfix d-none d-md-block">
                <div class="card mb-2">
                  <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Horizontal/Food/4-col/img%20(51).jpg"
                    alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                      <p>HELLO!! </p>
                    <a class="btn btn-primary">Button</a>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <!--/.Third slide-->
  
        </div>
        <!--/.Slides-->
  
      </div>
      <!--/.Carousel Wrapper-->
  
  
    </div>

<!-- sliders -->

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "350px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>



   
</body>
</html> 
