
<html>
    <head>
        <title> login form design </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/myprofile.css') }}"></link>
        
        <body>
            <div class="appbar">
                    HArshad
            </div>


            <div clah1>
            ss="myprofile">
            <h1>Login Succsesful</
            <br><br>

            <h6 name="username"  action="" method="get">usename</h6>
            <br><br>
            <h6  action="" method="get" name="email">email</h6>
            </div>
        </body>
    </head>
</html>